<header class="main-header">
    <nav>
        <ul class="main-header_nav__list">
            <li class="main-header_nav__list_item">
                <a href="/add-user">Add User</a>
            </li>
            <li class="main-header_nav__list_item">
                <a href="/users">All Users</a>
            </li>
        </ul>
    </nav>
</header>